form {
    width: 50%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    padding: 2rem;
    box-shadow: 0px 0px 50px 1px rgba(0, 0, 0, 0.25);
    background-color: #fafafa;
}

h1 {
    text-align: center;
    color: black;
    font-size: 3rem;
}

button {
    width: 100%;
    margin: 0.5rem 0;
}

.error {
    color: red;
}

.footer {
    display: flex;
    justify-content: space-between;
}

@media screen and (max-width: 1100px) {
    .hide {
        display: none;
    }

    form {
        width: 60%;
    }
}

@media screen and (max-width: 700px) {
    form {
        width: 80%;
    }
}
