@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
    --accent: #913de2;
    --accent-secondary: #cb3de2;

    --text-primary: white;
    --text-secondary: #e6e6e6;

    --discord: #7388da;
    --paypal: #026fba;
    --github: #242a2e;
    --youtube: #ff0201;

    font-family: 'Poppins', sans-serif;
}

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #d9d9d9;
}

.container {
    display: flex;
    justify-content: center;

    text-align: center;
    padding: 3rem 2rem;
}

.container > div {
    max-width: 1000px;
}

h1 {
    color: var(--text-primary);
    font-size: 4rem;
}

h2 {
    font-size: 3rem;
}

button,
.button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;

    background-image: linear-gradient(to bottom right, var(--accent), var(--accent-secondary));
    color: var(--text-secondary);
    box-shadow: 0.2rem 0.2rem 10px rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.25s;

    border-radius: 0.375rem;
    border: none;
    font-size: 1.25rem;
    padding: 0.75rem 1.25rem;
    cursor: pointer;
    text-decoration: none;
}

button:hover,
.button:hover {
    box-shadow: 0.2rem 0.2rem 10px rgba(0, 0, 0, 0.5);
    text-decoration: none;
}

button img,
.button img {
    color: white;
    width: 1rem;
}

input {
    width: 100%;
    padding: 0.75rem;
    margin: 0.25rem 0 0.75rem 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

a {
    color: blue;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
